    - name: Check OC CLI     
      shell: oc help
      register: result
      ignore_errors: true

    - name: Install OC CLI     
      poll: 60
      shell: |
       rm -fr /tmp/occli
       mkdir /tmp/occli
       cd occli
       curl "https://mirror.openshift.com/pub/openshift-v4/x86_64/clients/ocp/{{ocpcli.version}}/openshift-client-linux.tar.gz" -o "occli.gz"
       tar -xvf occli.gz
       mv oc /usr/local/bin/
       mv kubectl /usr/local/bin/
      args:
        executable: /bin/bash 
        chdir: /tmp/
      register: fileout     
      become: true   
      when: result is failed    