- name: My first play
  hosts: workstations
  tasks:
    - name: Ping my hosts
      ansible.builtin.ping:

    - name: Install unzip
      apt: pkg=unzip state=present 
      become: true    

    - name: Check awscli     
      shell: aws --version
      register: result
      ignore_errors: true

    - name: Install awscli     
      poll: 60
      shell: |
       rm -fr /tmp/awscli
       mkdir /tmp/awscli
       cd awscli
       curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
       unzip awscliv2.zip
       sudo ./aws/install
      args:
        executable: /bin/bash 
        chdir: /tmp/
      register: fileout     
      become: true
      when: result is failed

    - name: Check ROSA CLI     
      shell: rosa version
      register: result
      ignore_errors: true

    - name: Install rosa cli     
      poll: 60
      shell: |
       rm -fr /tmp/rosacli
       mkdir /tmp/rosacli
       cd rosacli
       curl "https://mirror.openshift.com/pub/openshift-v4/clients/rosa/latest/rosa-linux.tar.gz" -o "rosacli.gz"
       tar -xvf rosacli.gz
       mv rosa /usr/local/bin/
      args:
        executable: /bin/bash 
        chdir: /tmp/
      register: fileout     
      become: true   
      when: result is failed


    - name: Check OC CLI     
      shell: oc help
      register: result
      ignore_errors: true

    - name: Install rosa cli     
      poll: 60
      shell: |
       rm -fr /tmp/occli
       mkdir /tmp/occli
       cd occli
       curl "https://mirror.openshift.com/pub/openshift-v4/x86_64/clients/ocp/4.10.34/openshift-client-linux.tar.gz" -o "occli.gz"
       tar -xvf occli.gz
       mv oc /usr/local/bin/
       mv kubectl /usr/local/bin/
      args:
        executable: /bin/bash 
        chdir: /tmp/
      register: fileout     
      become: true   
      when: result is failed         


    - name: Check CPD CLI     
      shell: cpd-cli version
      register: result
      ignore_errors: true    

    - name: Install CPD CLI     
      shell: |
       rm -fr /tmp/cpdcli
       mkdir /tmp/cpdcli
       cd cpdcli
       curl -L "https://github.com/IBM/cpd-cli/releases/download/v11.2.0/cpd-cli-linux-EE-11.2.0.tgz" -o "cpdcli.gz"
       tar -xvf cpdcli.gz
       cp -r cpd-cli-linux-EE-11.2.0-*/* /usr/local/bin
      args:
        executable: /bin/bash 
        chdir: /tmp/
      register: fileout     
      become: true   
      when: result is failed          

    - name: Add Docker GPG apt Key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present
      become: true   

    - name: Add Docker Repository
      apt_repository:
        repo: deb https://download.docker.com/linux/ubuntu focal stable
        state: present
      become: true   

    - name: Update apt and install docker-ce
      apt:
        name: docker-ce
        state: latest
        update_cache: true
      become: true   
